In [1]:
# Step 0. Import libraries and custom modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Step 1. Load data, show info and sample
# 1.1 Read data
df_raw = pd.read_excel(
   'https://github.com/datagy/mediumdata/raw/master/sample_pivot.xlsx', 
   parse_dates=['Date']
)
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   datetime64[ns]
 1   Region  1000 non-null   object
 2   Type    1000 non-null   object
 3   Units   911 non-null    float64
 4   Sales   1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 39.2+ KB

In [3]:
# 1.2 Show sample
df_raw.sample(5, random_state=1234)

          Date Region                 Type  Units  Sales
681 2020-11-27   East  Children's Clothing   32.0    342
990 2020-12-17  North  Children's Clothing    7.0    217
155 2020-06-13   East  Children's Clothing   30.0    336
768 2020-06-25  North     Women's Clothing    5.0    644
438 2020-10-07  North     Women's Clothing   30.0    462

In [4]:
# Step 2. Transform to standard format
# 2.1 Create a pandas chain to convert to final form
df = (
    df_raw
    .copy()
    .set_axis(
        df_raw
        .columns.str.lower()
        .str.replace(' ','_')
        .str.replace(r'\W','',regex=True)
        .str.slice(0,40), axis=1
    )
    .astype({'region':'category', 
             'type':'category'})
    .assign(
        date = lambda x: pd.to_datetime(x['date'], format='%Y-%m-%d')
    )
    .set_index('date')
)

In [5]:
# Step 3. Perform busines analysis
# 3.1 Get the summary, for categorical and numerical columns

In [6]:
# 3.2 Get the sum of total sales

In [7]:
# 3.3 Get the average of sales

In [8]:
# 3.4 Get the sum of sales by region

In [9]:
# 3.4 Get the average sales by region

In [10]:
# 3.5 Get the sum, mean and count of sales by region

In [11]:
# 3.6 Create a pivot table that gets total units by type

In [12]:
# 3.7 Display the dataset showing only the East region

In [13]:
# 3.8 Display the dataset showing only the East and West regions

In [14]:
# 3.9 Display the dataset showing East sales with units over 30

In [15]:
# 3.10 A data corruption has been detected. Add 1 to all units.

In [16]:
# 3.11 Another issue was detected, in West region add 2 to all units